{% extends "reporte_descriptivo.html" %}

{% block tbody %}


            <tr>
                <td>Nº de hogares entrevistados</td>
                {% for col in columnas %}
                    <td>{{ col.total_familias }}</td>
                {% endfor %}
            </tr>
            <tr>
                <td>Nº de hogares con tres hijos o más entre 0 a 5 años</td>
                {% for col in columnas %}
                    <td>{{ col.familias_con_3menores }}</td>
                {% endfor %}
            </tr>

            <tr>
                <td>Nº de hogares monoparentales con jefatura femenina</td>
                {% for col in columnas %}
                    <td>{{ col.familias_monoparanteles_con_jefa }}</td>
                {% endfor %}
            </tr>


            <tr>
                <td>Nº de hogares con 1 o más personas de 65 años o más</td>
                {% for col in columnas %}
                    <td>{{ col.familias_con_ancianos }}</td>
                {% endfor %}
            </tr>

            <tr>
                <td>N° de personas analfabetas <br>(mayor de 10 años que no lee ni escribe)</td>
                {% for col in columnas %}
                    <td>{{ col.analfabetos.0 }} de {{ col.analfabetos.1 }}</td>
                {% endfor %}
            </tr>

            <tr>
                <td>Nº de niños entre 6 y 11 años con primario incompleto por abandono escolar</td>
                {% for col in columnas %}
                    <td>{{ col.abandonaron.0 }} de {{ col.abandonaron.1 }}</td>
                {% endfor %}
            </tr>

            <tr>
                <td>Nº de adolescentes entre 12 y 20 años con secundario incompleto por abandono escolar</td>
                {% for col in columnas %}
                    <td>{{ col.abandonaron_sec.0 }} de {{ col.abandonaron_sec.1 }}</td>
                {% endfor %}
            </tr>



{% endblock tbody %}