{% extends "site_base.html" %}
{% load bootstrap3 %}
{% block body %}
	
	<h1>Reporte: Capital Fisico</h1>
	<p>Propietario del Terreno: {{propietarioTerreno_porcentaje}} % </p>
 	 <p>Propietario de Vivienda: {{propietario_vivienda_porcentaje}} % </p>
	  <p>En comodato: {{comodato_porcentaje}} %</p>   
           <p>Alquila: {{alquiler_porcentaje}} %</p>
	    <p>Otro: {{porcentaje_es_otro}}%</p>
	     <p>Tiene pisos: {{pisos_porcentaje}} % </p>
	      <p>Tiene techo: {{techo_porcentaje}} % </p>
	       <p>Tiene paredes: {{paredes_porcentaje}} % </p>
                <p> Tiene Calefaccion Gas natural: {{calefaccion_natural_porcentaje}} % </p>
		 <p> Tiene Calefaccion Gas envasado: {{calefaccion_envasado_porcentaje}} % </p>
		  <p> Cantidad promedio de habitaciones: {{cantidad_habitaciones}} % </p>



{% endblock body %}
