{% extends "site_base.html" %}
{% load bootstrap3 %}
{% block body %}

	<h1>Reporte: Capital Social</h1>
	
	<p>Hogares con energia: {{ energia_porcentaje }} % </p>
		<p>Hogares con pavimentacion: {{ pavimentacion_porcentaje }} % </p>
			<p>Hogares con recoleccion de reduos: {{ recoleccion_porcentaje}} % </p>
				<p> Hogares con jardin de infantes:{{jardin_porcentaje}} % </p>
					<p> Hogares con escuelas primarias:{{primaria_porcentaje}} % </p>
						<p> Hogares con escuela secundaria:{{ secundaria_porcentaje}} % </p>
							<p> Hogares con comisaria:{{comisaria_porcentaje}} % </p>
								<p> Hogares con bomberos:{{bomberos_porcentaje}} % </p>
							
			
{% endblock body %}
