<!DOCTYPE html>
<html lang="en">
<head>
  <title>formulario</title>
  <meta http-equiv="content-type" content="text/html" charset="ISO-8859-1" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="bootstrap.min.css">
  <script src="jquery.min.js"></script>
  <script src="bootstrap.min.js"></script>


  <link rel="stylesheet" href="estilo.css">




  <style>

  </style>
</head>
<body>

<div class="container">
  <h2>Entrevista</h2>
  <form role="form">

    <div class="form-group">
      <label for="number">Numero de entrevista:</label>
      <input type="number" class="form-control" id="nroEntrevista">
    </div>
	<div class="form-group">
      <label for="date">Fecha:</label>
      <input type="date" class="form-control" id="fecha">
    </div>
	<div class="form-group">
      <label for="time">Hora:</label>
      <input type="time" class="form-control" id="hora">
    </div>
	<!--
	<button class="btn btn-default" onclick="myFunction()">Grupo familiar</button>
	-->



	<!--
	<button type="submit" class="btn btn-default" onclick="clickeado()">Grupo familiar</button>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" class="form-control" id="email" placeholder="Enter email">
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" id="pwd" placeholder="Enter password">
    </div>
    <div class="checkbox">
      <label><input type="checkbox"> Remember me</label>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
	-->
  </form>
  <button class="btn btn-default" onclick="myFunction()">Grupo familiar</button>
</div>

<script>
/*
function OpenInNewTab(url) {
  var win = window.open(url, '_blank');
  win.focus();
}

function clickeado() {
  //var win = window.open("http://www.w3schools.com", '_blank');
  //win.focus();

  //var win = window.open("http://www.w3schools.com", "_parent");
  //win.focus();

  this.open("http://www.w3schools.com", "_self");
}


$("#boton").click(function(){

  //var win = window.open(url, '_blank');
  //win.focus();
  window.open("http://www.w3schools.com","_self",false);
  //window.open("http://www.w3schools.com");

  //OpenInNewTab("http://www.gogle.com");

    //alert("eee");
	//window.open("http://www.google.com","_self");
	//window.open('index.html','_self',false)
	//window.open("http://www.w3schools.com","_self");
	//window.open("bootstrap.min.css","_top");
	//window.open("bootstrap.min.css","_self");

	//var myWindow = window.open("", "_self");
    //myWindow.document.write("<p>I replaced the current window.</p>");

	//window.open("http://www.w3schools.com", "_blank"
  });
*/

function myFunction() {
//window.open ('http://www.w3schools.com','_self',false);
window.open ('grupoFamiliar.html','_self',false);
}
</script>

</body>
</html>
