{% extends "formulario.html" %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block body %}





<div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#entrevista" aria-controls="entrevista" role="tab" data-toggle="tab">Entrevista</a></li>
    <li role="presentation"><a href="#capitalfisico" aria-controls="capitalfisico" role="tab" data-toggle="tab">Capital Físico</a></li>
    <li role="presentation"><a href="#capitalsocial" aria-controls="capitalsocial" role="tab" data-toggle="tab">Capital Social</a></li>
    <li role="presentation"><a href="#capitalhumano" aria-controls="capitalhumano" role="tab" data-toggle="tab">Capital Humano</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="entrevista">...</div>
    <div role="tabpanel" class="tab-pane" id="capitalfisico">...</div>
    <div role="tabpanel" class="tab-pane" id="capitalsocial">...</div>
    <div role="tabpanel" class="tab-pane" id="capitalhumano">...</div>
  </div>

</div>




{% endblock body %}
