{% extends "formulario.html" %}
{% load staticfiles %}
{% load bootstrap3 %}


{% block extra_head %}
    <script src="{% static "jquery/js/jquery-2.1.3.min.js" %}"></script>
    {{ form_persona.media.css }}
{% endblock %}




{% block body %}


<div>
<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#Editar" aria-controls="Editar" role="tab" data-toggle="tab">Grupo</a></li>

    {% if form.instance.id %}
    <li role="presentation"><a href="#Miembro" aria-controls="Miembro" role="tab" data-toggle="tab">Miembros</a></li>
    <li role="presentation"><a href="#entrevista" aria-controls="Entrevista" role="tab" data-toggle="tab">Entrevistas</a></li>
    {% else %}
    <li role="presentation" class="disabled"><a aria-controls="Miembro" >Miembros</a></li>
    <li role="presentation" class="disabled"><a aria-controls="Entrevista">Entrevistas</a></li>
    {% endif %}
</ul>

  <form method="post" action="." novalidate>
  {% csrf_token %}
  <div class="tab-content">

    <div role="tabpanel" class="tab-pane active" id="Editar">


       <form method="post" action=".">
            <h1>{{nombre}}</h1>
            {% csrf_token %}
            {% if next %}
            <input type="hidden" name="next" value="{{ next }}">
            {% endif %}
            {% bootstrap_form form layout='default' %}
                <input name="guardar" class="btn btn-success" type="submit" value="Guardar" />

        </form>




    </div>

    <div role="tabpanel" class="tab-pane" id="entrevista">


    <br>
    <div class="pull-right">
        <div class="dropdown">
            <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn dropdown-toggle btn-default">
            Crear nueva entrevista
              <span class="caret"></span>
            </button>

            <ul class="dropdown-menu" aria-labelledby="dLabel">

            {% if form.instance.id %}
                {% for relevamiento in relevamientos %}

                <li><a href="{% url "entrevista_create" relevamiento.id %}?grupo_familiar={{ form.instance.id }}">En {{ relevamiento }}</a></li>
                {% endfor %}
            {% endif %}
            </ul>
        </div>

    </div>

        {% if form.instance.entrevistas.all %}
        <h2> Entrevistas </h2>
        <table class="table">

            {% for entrevista in form.instance.entrevistas.all %}
            <tr>
                <td>{{ entrevista }}</td>

                <td><a class="btn btn-default btn-xs" href="{{ entrevista.get_absolute_url }}">Editar</a></td>

            </tr>

            {% endfor %}

            </table>

      {% endif %}


    </div>

    <div role="tabpanel" class="tab-pane" id="Miembro">

    {% if form.instance.id %}

    <br>
    <div class="pull-right"><a class="btn btn-default as_modal" href="{% url 'persona_create_modal' form.instance.id %}">Agregar nueva persona</a></div>

    <table class="table">

      {% for persona in form.instance.miembros.all %}
        <tr>
          <td>{{ persona }}</td>
          <td>{{ persona.vinculo }}</td>

          <td><a class="btn btn-success as_modal" href="{% url 'persona_update_modal' form.instance.id persona.id %}">Editar</a>
            <a class="btn btn-danger as_modal" href="{% url 'persona_delete_modal' form.instance.id persona.id %}">Eliminar</a> </td>

      </tr>

      {% endfor %}

    </table>
    {% endif %}

    </div>

  </div>
</div>

{% endblock body %}



{% block extra_script %}

    {{ form_persona.media.js }}

    {% include "modal_js.html" %}


{% endblock extra_script %}
