{% extends "site_base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block body %}



    <h1>Grupos Familiares</h1>
	<div class="pull-right"><a class="btn btn-default" href="{% url 'grupo_familiar_create' %}">Agregar nuevo Grupo Familiar</a></div>
	<br>
	<br>

  	<form method="get" action="." novalidate>
  	 {% bootstrap_form buscador layout='default' %}
	<button class="btn btn-success" type="submit">Filtrar</button>
 	</form> 

  	{% if not object_list %}
    	<br>
    	<br>
		<div class="alert alert-warning alert-dismissable">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            No se encontro ninguna familia con ese apellido
        </div>

    {% endif %}

    <br>
    <br>
    <table class="table">

    {% for grupo in object_list %}
    <tr>
        <td>{{ grupo }}</td>
        <td><a class="btn btn-success" href="{% url 'grupo_familiar_update' grupo.id %}">Editar</a></td>

    </tr>

    {% endfor %}

</table>


{% endblock body %}
