{% extends "formulario.html" %}
{% load staticfiles %}
{% load bootstrap3 %}


{% block extra_head %}
    <script src="{% static "jquery/js/jquery-2.1.3.min.js" %}"></script>
    {{ form_persona.media.css }}
{% endblock %}




{% block body %}



    {% if form.instance.id %}

    <h2>Miembros</h2>
    <br>

        <div class="pull-right"><a class="btn btn-default as_modal" href="{% url 'persona_create_modal' form.instance.id %}">Agregar nueva persona</a></div>



    <table class="table">

    {% for persona in form.instance.miembros.all %}
    <tr>
        <td>{{ persona }}</td>
        <td>{{ persona.vinculo }}</td>

        <td><a class="btn btn-success as_modal" href="{% url 'persona_update_modal' form.instance.id persona.id %}">Editar</a>
            <a class="btn btn-danger as_modal" href="#">Eliminar</a> </td>

    </tr>

    {% endfor %}

    </table>

    {% endif %}

   <form method="post" action=".">
        <h1>{{nombre}}</h1>
        {% csrf_token %}
        {% if next %}
        <input type="hidden" name="next" value="{{ next }}">
        {% endif %}
        {% bootstrap_form form layout='default' %}
            <input name="guardar" class="btn btn-success" type="submit" value="Guardar" />

            {% for relevamiento in relevamientos %}
            <input name="entrevista_{{ relevamiento.id }}" class="btn btn-success" type="submit" value="Crear nueva entrevista en {{ relevamiento }}" />
            {% endfor %}
    </form>


{% endblock body %}



{% block extra_script %}

    {{ form_persona.media.js }}

    {% include "modal_js.html" %}


{% endblock extra_script %}
