{% extends "site_base.html" %}
{% load bootstrap3 %}
{% block body %}
<script LANGUAGE="Javascript">
    var txt=" CARRILLO";
    var espera=300;
    var refresco=null;
    function rotulo_title() {
        document.title=txt;
        txt=txt.substring(1,txt.length)+txt.charAt(0);
        refresco=setTimeout("rotulo_title()",espera);
    }
    rotulo_title();
</script>
<h1> INICIO </h1>
{% endblock body %}


{% block footer %}

<h3> Elige la sección que quieras llenar </h3>
<form>
    <select name="links" onchange="top.location.href=this.form.links.options[this.form.links.selectedIndex].value">
        <option selected="selected">
            Elige la sección
        </option>
        <option value="persona">
            Persona
        </option>
        <option value="capitalsocial">
            Capital Social
        </option>
        <option value="capitalfisico">
            Capital Fisico
       </option>
       <option value="grupofamiliar">
            Grupo Familiar
       </option>
   </select>
</form> 
{% endblock %}

{% comment %}
{% endcomment %}

