{% extends "theme_bootstrap/base.html" %}
{% load staticfiles %}


<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    ...
  </div>
</nav>

{% block site_brand %}


    <a href="{% url 'home' %}" class="navbar-brand"><img src="{% static "images/logotipo.png" %}" /></a>
{% endblock site_brand %}

{% block nav %}

        <ul class="nav navbar-nav" style="margin-top: 15px">
            <li><a href="{% url 'home' %}">Relevamientos</a></li>
            <li><a href="{% url 'grupos_familiares' %}">Grupos Familiares</a></li>
        </ul>
{% endblock %}

{% block body_extra_attributes %}{% endblock %}


{% comment %}

mirar el codigo fuente en

   https://github.com/pinax/pinax-theme-bootstrap/blob/a30d1b1eddd1e4f9848c189e9915d8b6bab82a5a/pinax_theme_bootstrap/templates/theme_bootstrap/base.html
{% endcomment %}
